:root{
  --mainWhite: #ECF0F1;
  --dayColor: #2c3e50;
  --dayColorHover: #172e44;
  --disabledColor: #aaa;
  --todayColor: #ffa500;

  /* --dayColor: #d4e1ed;
    --dayColorHover: #c1c4c7;
    --mainWhite: #000000;
    --disabledColor: #856b6b;
    --todayColor: #358de9;
    
    */
}

.calendar-box {

}

.week {
  overflow: hidden;
  display: flex;
}

/* .day:last-child, .day:first-child{
  border: 1px solid black;
} */

.week.highlight {
  background: #efefef;
}

.day {
  display: flex;
  align-items: center;
  justify-content: center;

  float: left;
  width: 14.28%;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  background-color: var(--dayColor);
  margin-right: 5px;
  height: 60px;
  transition: 0.1s ease-in-out;
}

.day:hover{
  background-color: var(--dayColorHover);
}

.day.disabled span {
  color: var(--disabledColor);
}

.day.selected span {
  background-color: var(--todayColor);
}

.day.today span {
  /* font-weight: bold; */
}

.months-container.hidden, .weeks-container.hidden {
  display: none;
}

.months-wrapper {
  overflow: hidden;
}

.months-wrapper .month {
  display: inline-block;
  float: left;
  width: 25%;
  text-align: center;
  cursor: pointer;
}
.months-wrapper .month.one-third {
  width: 33.33%;
}